@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
body {
    background-color: #0c122c;
}
.container {
    margin-top: 310px;
    position: relative;
}
.left-section  {
    border: 2px solid #1e2c69;
    position: absolute;
    background-color: #1e2c69;
    top: -50px;
    margin-left: 300px;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 100px;
    padding-bottom: 10px;
    border-top-right-radius: 90px;
}
.left-section-img1 {
    border: 1px solid black;
    margin-top: 20px;
    padding: 10px;
    background-color: black;
    margin-bottom: 25px;
}
.left-section-img2 {
    border: 1px solid black;
    margin-top: 9px;
    padding: 12px;
    background-color: black;
    margin-left: 10px;
    margin-bottom: 25px;
}
.left-section-img3 {
    border: 1px solid black;
    margin-top: 9px;
    padding: 13px;
    background-color: black;
    margin-left: 10px;
    margin-bottom: 25px;
}
.right-section {
    border: 2px solid #1e2c69;
    position: absolute;
    background-color: #1e2c69;
    top: -20px;
    margin-left: 630px;
    height: 150px;
    border-radius: 15px;
}
.right-section-p {
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 250px;
    color: #abafc4;
}
.right-section-p2 {
    border: 1px solid ;
    height: 10px;
    margin-left: 30px;
    margin-right: 50px;
    border-radius: 20px;
}
.right-section-p3 {
    color: white; 
    margin-left: 30px;
    position: absolute;
}
.right-section-img {
    margin-left: 30px;
    position: relative;
}
.img-3 {
    position: absolute;
    top: -70px;
    margin-left: 950px;
}